/*COLORS*/
$color-primary: #7ed56f;
$color-primary-light: #0992b8;
$color-primary-dark: #00ad8d;

$color-secondary-light: #26D0FF;
$color-secondary-dark: #106BD1;

$color-tertiary-light: #C4BB0A;
$color-tertiary-dark: #85D108;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(44, 44, 44);

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// fonts
$default-font-size: 1.6rem;