.uCenterText {
  text-align: center !important;
}

.uMarginBottomSmall {
  margin-bottom: 1.5rem !important;
}

.uMarginBottomMedium {
  margin-bottom: 4rem !important;
}

.uMarginBottomBig {
  margin-bottom: 8rem !important;
}

.uMarginBottomHuge {
  margin-bottom: 8rem !important;
}

.uMarginBottomBig {
  margin-bottom: 8rem !important;
}
